.container {
    width:1100px;
    margin:0 auto;
    font-family: Verdana,Geneva,sans-serif;
    min-height : 800px;
   /* background:inline("../images/Partner-1600x557.png");
    background-repeat:no-repeat;*/
    /*background: #DDD;*/
}
