/*.container {
  background-image: url('/dist/antal_snd_bw.png');
  background: inline('../images/1.jpg') no-repeat 0 0;
}*/

.container {
    background: inline('../images/3.png') no-repeat 0 0;
}

.header {
    background: inline('../images/1.jpg') no-repeat 0 0;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .container {
      background: inline('../images/2.jpg') no-repeat 0 0;
  }
}
